.banner{
    position: absolute;
    background-color: darkgreen;
    width: 100%;
    height: 70px;
}

.button{
    height: 90%;
    width: 10%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    font-size: large;
    color: wheat;
    background-color: black;
    border-radius: 10px;
}

.block{
    bottom:0;
    height: 5px;
    background-color: black;
}

.all{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #282c34;

}